# K-Forge — CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Reviewer por defecto para todos los archivos
* @13rianVargas
